body {
  background-color: #fcfcfc;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 색상 따라가게 */
}

.header {
  padding: 0.5625rem 12.5rem 0.5625rem 12.5rem;
  border-bottom: 1px solid #dfdfdf;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-container {
  display: flex;
  height: 3.1875rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-logo {
  cursor: pointer;
}

.header-navigation {
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #3692ff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-login-button {
  padding: 0.75rem 1.4375rem 0.75rem 1.4375rem;
  line-height: 1.625rem;
  font-family: Pretendard, sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.intro {
  background-color: #cfe5ff;
  height: 33.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4.375rem;
}

.intro-container {
  display: flex;
  flex-direction: column;
  width: 22.3125rem;
  height: 16.25rem;
  gap: 2rem;
}

.intro-text {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

.intro-navigation {
  border-radius: 2.5rem;
  cursor: pointer;
  background-color: #3692ff;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.intro-cta {
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  font-family: Pretendard, sans-serif;
  padding: 1rem 7.75rem 1rem 7.75rem;
}

.intro-img {
  width: 46.625rem;
  height: 21.25rem;
}

.card {
  display: flex;
  justify-content: center;
  padding: 8.625rem 21.5rem 8.625rem 21.5rem;
  background-color: #ffffff;
}

.card-container {
  display: flex;
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
  width: 61.75rem;
  height: 27.75rem;
  gap: 4rem;
}
.card-image {
  width: 36.75rem;
  height: 27.75rem;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 19.8125rem;
  height: 14.875rem;
}
.card-content2 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 19.8125rem;
  height: 14.875rem;
  text-align: right;
}

.card-title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #3692ff;
  font-family: Pretendard, sans-serif;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: Pretendard, sans-serif;
}

.card-summary {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  letter-spacing: 2%;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

.card-explan {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

.footer-corver {
  background-color: #cfe5ff;
  height: 33.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4.3125rem;
  margin-top: 9.75rem;
}

.footer-corver-text {
  display: flex;
  align-self: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

.footer-corver-img {
  width: 46.625rem;
  height: 24.8125rem;
}

.footer-nav {
  background-color: #111827;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  padding: 2rem 12.5rem 2rem 12.5rem;
  gap: 0.625rem;
}

.text-codeit-2024 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: #9ca3af;
  font-family: Pretendard, sans-serif;
}

.footer-policy {
  display: flex;
  color: #e5e7eb;
  gap: 1.875rem;
  font-family: Pretendard, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
}

.icons {
  display: flex;
  gap: 0.75rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}
