body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  cursor: pointer;
}

#login_button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 23px 12px 23px;
  background-color: #3692ff;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  line-height: 26px;
}

#intro {
  background-color: #cfe5ff;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#intro_div {
  display: flex;
  flex-direction: column;
  width: 357px;
  height: 260px;
  gap: 32px;
}

#intro_text {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #374151;
}

#sightseeing_button {
  border-radius: 40px;
  padding: 16px 124px 16px 124px;
  background-color: #3692ff;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
  /* 줄바꿈 방지 */
  white-space: nowrap;
}

#intro_img {
  width: 746px;
  height: 340px;
}
