body {
  margin: 0;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 색상 따라가게 */
}

.header {
  padding: 9px 200px 9px 200px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header_div {
  display: flex;
  height: 51px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#logo {
  cursor: pointer;
}

#login_button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 23px 12px 23px;
  background-color: #3692ff;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  line-height: 26px;
  font-family: Pretendard, sans-serif;
}

#intro {
  background-color: #cfe5ff;
  /* width: 100%; */
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#intro_div {
  display: flex;
  flex-direction: column;
  width: 357px;
  height: 260px;
  gap: 32px;
}

#intro_text {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

#sightseeing_button {
  border-radius: 40px;
  padding: 16px 124px 16px 124px;
  background-color: #3692ff;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
  /* 줄바꿈 방지 */
  white-space: nowrap;
  font-family: Pretendard, sans-serif;
}

#intro_img {
  width: 746px;
  height: 340px;
}

.card {
  display: flex;
  justify-content: center;
  padding: 138px 344px 138px 344px;
  background-color: #ffffff;
}

.nav_option {
  display: flex;
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
  width: 988px;
  height: 444px;
  gap: 64px;
}
.option_img {
  width: 588;
  height: 444px;
}
.option {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 317px;
  height: 238px;
}
.option2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 317px;
  height: 238px;
  text-align: right;
}

.option_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #3692ff;
  font-family: Pretendard, sans-serif;
}

.optrion_title_explan {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Pretendard, sans-serif;
}

.option_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 2%;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

.option_explan {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

#footer_corver {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 69px;
}

#footer_corver_text {
  display: flex;
  align-self: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

#footer_corver_img {
  width: 746px;
  height: 397px;
}

#footer_nav {
  background-color: #111827;
  width: 100%;
}

#footer_content {
  display: flex;
  justify-content: space-between;
  height: 160px;
  padding: 32px 200px 32px 200px;
  gap: 10px;
}

#text_codeit_2024 {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #9ca3af;
  font-family: Pretendard, sans-serif;
}

#footer_policy {
  display: flex;
  color: #e5e7eb;
  gap: 30px;
  font-family: Pretendard, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

#icons {
  display: flex;
  gap: 12px;
}

.icon {
  width: 20px;
  height: 20px;
}
