a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 색상 따라가게 */
}

.header {
  padding: 0.5625rem 12.5rem 0.5625rem 12.5rem;
  border-bottom: 1px solid #dfdfdf;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header_div {
  display: flex;
  height: 3.1875rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#logo {
  cursor: pointer;
}

#login_button {
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.75rem 1.4375rem 0.75rem 1.4375rem;
  background-color: #3692ff;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.625rem;
  font-family: Pretendard, sans-serif;
}

#intro {
  background-color: #cfe5ff;
  height: 33.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4.375rem;
}

#intro_div {
  display: flex;
  flex-direction: column;
  width: 22.3125rem;
  height: 16.25rem;
  gap: 2rem;
}

#intro_text {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

#sightseeing_button {
  border-radius: 2.5rem;
  padding: 1rem 7.75rem 1rem 7.75rem;
  background-color: #3692ff;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  cursor: pointer;
  /* 줄바꿈 방지 */
  white-space: nowrap;
  font-family: Pretendard, sans-serif;
}

#intro_img {
  width: 46.625rem;
  height: 21.25rem;
}

.card {
  display: flex;
  justify-content: center;
  padding: 8.625rem 21.5rem 8.625rem 21.5rem;
  background-color: #ffffff;
}

.nav_option {
  display: flex;
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
  width: 61.75rem;
  height: 27.75rem;
  gap: 4rem;
}
.option_img {
  width: 36.75rem;
  height: 27.75rem;
}
.option {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 19.8125rem;
  height: 14.875rem;
}
.option2 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 19.8125rem;
  height: 14.875rem;
  text-align: right;
}

.option_name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #3692ff;
  font-family: Pretendard, sans-serif;
}

.optrion_title_explan {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: Pretendard, sans-serif;
}

.option_title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  letter-spacing: 2%;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

.option_explan {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

#footer_corver {
  background-color: #cfe5ff;
  height: 33.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4.3125rem;
}

#footer_corver_text {
  display: flex;
  align-self: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  color: #374151;
  font-family: Pretendard, sans-serif;
}

#footer_corver_img {
  width: 46.625rem;
  height: 24.8125rem;
}

#footer_nav {
  background-color: #111827;
  width: 100%;
}

#footer_content {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  padding: 2rem 12.5rem 2rem 12.5rem;
  gap: 0.625rem;
}

#text_codeit_2024 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: #9ca3af;
  font-family: Pretendard, sans-serif;
}

#footer_policy {
  display: flex;
  color: #e5e7eb;
  gap: 1.875rem;
  font-family: Pretendard, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
}

#icons {
  display: flex;
  gap: 0.75rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}
