input {
  border: none; /* 기본 테두리 제거 */
  outline: none; /* 포커스 파란 테두리 제거 */
  background: none; /* 기본 배경 제거 */
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 396px;
  height: 132px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  font-family: Pretendard, sans-serif;
}

.form-input {
  width: 640px;
  height: 56px;
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  display: flex;
  gap: 10px;
  background-color: #f3f4f6;
}

.form-input::placeholder {
  font-family: Pretendard, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #9ca3af;
}
