input {
  border: none; /* 기본 테두리 제거 */
  outline: none; /* 포커스 파란 테두리 제거 */
  background: none; /* 기본 배경 제거 */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 40px;
}

.logo {
  width: 396px;
  height: 132px;
}

.signup-form {
  display: flex;
  gap: 24px;
  box-sizing: border-box;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-kind {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  font-family: Pretendard, sans-serif;
}

.form-input {
  width: 640px;
  height: 56px;
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: #f3f4f6;
  box-sizing: border-box;
  position: relative;
}

.form-wipper {
  position: relative;
}

.form-input::placeholder {
  font-family: Pretendard, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #9ca3af;
}

.form-input:focus {
  border: 1px solid #3692ff;
}

.password-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.signup-button {
  width: 640px;
  height: 56px;
  background-color: #9ca3af;
  border-radius: 40px;
  padding: 16px 124px 16px 124px;
  display: flex;
  gap: 10px;
  color: #f3f4f6;
  font-family: Pretendard, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.simple-login {
  width: 640px;
  height: 74px;
  border-radius: 8px;
  padding: 16px 23px 16px 23px;
  gap: 10px;
  background-color: #e6f2ff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simple-login-icons {
  display: flex;
  gap: 16px;
}

.google-logo {
  cursor: pointer;
}

.kakko-logo-container {
  position: relative;
  cursor: pointer;
}

.kakao-logo {
  width: 26px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.signup-link {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.signup-link-font {
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
}

.go-signup {
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
